body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    background-color: #000000;
    color: white;
    padding: 0;
}

.header {
    background-color: #000000;
    color: white;
    padding: 15px 5px 15px 5px;
    margin-top: 0px;
    text-align: center;
}

.header2 {
    background-color: #16303b;
    color: white;
    margin: 10px 5px 0px 5px;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.header2b {
    background-color: #16302d;
    color: white;
    margin: 10px 5px 0px 5px;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.header3 {
    background-color: #202020;
    color: white;
    margin: 0px 5px 0px 5px;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

#calculatorForm {
    padding: 0px;
    margin: 0px;
    display: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin: 5px;
}

.form-row1 {
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #55595a;
    margin: 0px 5px 20px 5px;
    border-radius: 0px 0px 10px 10px;
    border: solid 5px #16303b;
}

.form-row2 {
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #55595a;
    margin: 0px 5px 0px 5px;
    border-radius: 0px 0px 10px 10px;
    border: solid 5px #16302d;
}

.form-row3 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

input {
    padding: 5px;
    width: 90px;
    font-size: 15px;
    flex: 1;
}

.actions {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.result {
    font-weight: bold;
    padding: 20px 10px 20px 10px;
    margin: 0px 5px 10px 5px;
    background-color: #55595a;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight:bold;
    text-align: center;
    min-height: 50px;
    border-radius: 0px 0px 10px 10px;
    border: solid 5px #202020;
}

h2 {
    padding: 5px;
    margin: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

h4 {
    padding: 0px;
    margin: 0px;
}

h5 {
    padding: 0px;
    margin: 0px;
}

h6 {
    padding: 0px;
    margin: 0px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid 3px whitesmoke;
}

button:hover {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(110, 137, 0);
    color: white;
    border-radius: 10px;
    border: solid 3px whitesmoke;
}

.clearbtn {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: solid 3px white;
}

.clearbtn:hover {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(137, 23, 0);
    color: white;
    border-radius: 10px;
    border: solid 3px white;
}



